a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.body {
    background: #e21342;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-section {
    display: grid;
    width: 70%;
    margin: auto auto;
    grid-template-rows: repeat(3, 280px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: -260px;
}
.grid {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 0px rgb(0,0,0,0.5);
}
.grid-img{
    width: 100%;
    height: 100%;
    transition:  .5s;
}
.overly{
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0px;
    bottom: -53px;
    background-image: linear-gradient(to bottom, transparent, black);
    padding: 29px 15px 10 px;
    transition: .5s;
}
.grid:hover .overly{
    bottom: 0px;
    transition: .5s;
}
.grid:hover .grid-img {
    transform: scale(1.1);
    transition: .5s;
}
.overly h2{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 400;
    margin-left: 10px;
}
.btn2{
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    margin-top: -50px;
    color: #ddd;
    text-transform: uppercase;
    background: rgb(255,255,255,0.1);
        text-decoration: none;
        border-radius: 50px;
        line-height: 1;
        letter-spacing: 2px;
        font-size: 13px;
}