*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}

.body{
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: white;
    place-items: center;
    color: rgb(0, 0, 0);
}

.container-bg{
    overflow-x: auto;
    overscroll-behavior-x: contain;
    background-color: white;
    padding: 1.5rem;
    width: 100%;
    margin-top: -3.2%;
}

.story-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 5rem;
    grid-gap: 3%;
    margin-left: 14.5%;
    margin-top: 0.2%;
}
.story-container .content{
    display: grid;
    grid-gap: 0.5rem;
    margin: 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: all 0.2 ease-in;
}
.story-container .content .img-container:hover{
    transform: scale(1.1);
}
.story-container .content .img-container{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: radial-gradient(rgba(0,0,0.15) 60%, transparent 0),
    radial-gradient(white 65%, transparent 0),
    linear-gradient(to top right, orange, deeppink);
}
.story-container .content .img-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(43%);
}
.story-container .content .text-container{
    font-family: 'Montserrat';
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(166, 166, 166);
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    text-align: center;
    padding: 130px 0;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all .100s ease-in;
}
.overlay img{
    width: 30%;
    margin: auto 0;
}
.overlay:target{
    bottom: 0;
    right: 0;
    top: 5%;
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0, .8);
    transition: all .100 ease-out;
}
.overlay img:hover{
    transform: scale();
}
#overlay img{
    transition: .5s;
}
.teks-insta-story{
    font-family: 'Montserrat';
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(166, 166, 166);
}